There should be no information flow from the latitude and longtitude fields of the Location object provided as input to the method onChangedLocation(Location s) to standard output except if both longitude and latitude differ at most by 0.1 from the location of the Eiffel tower. However, there is no restriction of the flow information of objects returned by the method getPointOfInterest(String name).
