In the context of a credit card transaction in method receiveData, both the name and the complete credit card number should be kept secret. However, the validity date of the credit card number and the last 4 digits of the creditCardNr may be revealed. That means, there should be no information flow from the fields data.name.firstName, data.name.lastName and data.creditCardNr to standard output except for the last 4 digits of the value stored in data.creditCardNr. In general, the name of a user is not confidential, i.e., there is no restriction on the flow of information of the fields name.firstName and name.lastName. 
